$app-font: Helvetica, sans-serif;
$primary-color: #333;
$snapshot-width: 320px;
$snapshot-height: 240px;

body {
	font: 100% $app-font;
	color: $primary-color;
}

.listActionButton {
	width: $snapshot-width - 20px;
	-webkit-border-radius:3px;
	-moz-border-radius:3px;
	-ms-border-radius:3px;
	border-radius:3px;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	cursor:pointer;
	display:inline-block;
	padding:10px 14px;
	font-weight:400;
	text-transform:uppercase;
	letter-spacing:1px;
	font-size:14px;
	text-align:center;
	color:white;
	background-color:#BDC3C9;
	font-family:"Source Sans Pro","Lucida Grande",Verdana,Helvetica,sans;
	outline:none;

	 &:hover {
	    background-color:#D7DBDF;
	}

	&:active {
		background-color:#5E6264;
	}

	&:disabled {
		color: #666666;
		background-color: #999999;
	}
}

header {}
nav {}

#content {
	h1 {
		color: #000000;
	}

	#imageGrid {
		#snapshotContainer {
			float: left;
			width:$snapshot-width;
			height:$snapshot-height;
			background-color: #666666;

			.background {
				z-index: 7;
				position: absolute;
				background:url(/img/head.png) no-repeat center center;
				width:$snapshot-width;
				height:$snapshot-height;
			}

			#my_camera {
				z-index: 9;
				visibility: hidden;
				position: absolute;
				float: left;
				width:$snapshot-width;
				height:$snapshot-height;
			}

			#my_result {
				z-index: 8;
				position: absolute;
				float: left;
				width:$snapshot-width;
				height:$snapshot-height;
			}

			#actions {
				display: none;
				z-index: 11;
				position: absolute;
				width:$snapshot-width;
				height:$snapshot-height;
				text-align: center;
				padding-top: 30px;

				#btnSnap {
					@extend .listActionButton;
				}
				#btnDnd {
					@extend .listActionButton;
					background-color: #FF3333;
				}
				#btnAfk {
					@extend .listActionButton;
					background-color: #6666FF;
				}
				#btnAvailable {
					@extend .listActionButton;
					background-color: #009933;
				}
			}
		}

		.snapshot {
			float: left;
			width:$snapshot-width;
			height:$snapshot-height;
		}
	}

	#controls {
		position: absolute;
		top: 0px;
		right: 0px;
		#btnSnapshot {
			float: right;
		}
		#btnImages {
			float: right;
		}
	}

}

footer {}