$app-font: Helvetica, sans-serif;
$primary-color: #333;
$snapshot-width: 320px;
$snapshot-height: 240px;

body {
	font: 100% $app-font;
	color: $primary-color;
}

header {

}

nav {

}

#content {
	h1 {
		color: #000000;
	}

	#imageGrid {
		#snapshotContainer {
			float: left;
			width:$snapshot-width;
			height:$snapshot-height;
			background-color: #666666;
			cursor: pointer;

			.background {
				position: absolute;
				background:url(/img/head.png) no-repeat center center;
				width:$snapshot-width;
				height:$snapshot-height;
			}

			#my_camera {
				visibility: hidden;
				position: absolute;
				float: left;
				width:$snapshot-width;
				height:$snapshot-height;
			}

			#my_result {
				position: absolute;
				float: left;
				width:$snapshot-width;
				height:$snapshot-height;
			}
		}

		.snapshot {
			float: left;
			width:$snapshot-width;
			height:$snapshot-height;
		}
	}

	#controls {
		position: absolute;
		top: 0px;
		right: 0px;
		#btnSnapshot {
			float: right;
		}
		#btnImages {
			float: right;
		}
	}

}

footer {

}